// TEMP
$o-fonts-path: '/bower_components/o-fonts-assets/';
$o-icons-path: '/bower_components/o-icons/assets/';
// END TEMP

@include oFontsInclude(HelveticaNeue);
@include oIconsInclude(oc-icons);

.o-app-header {
	font-family: oFontsGetFontFamilyWithFallbacks(HelveticaNeue);
}

.o-app-header__toggle {
	margin-top: ($o-header-height - $o-app-header-toggle-font-size) / 2;

	.oc-icon-menu {
		font-size: $o-app-header-toggle-font-size;
	}
}
